@import "frontPage";
@import "tic-tac-toe";
@import "calculator";

$bp-831: 51.95em;
$bp-624: 39rem;
$bp-480: 30em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-831) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-624) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-480) {
    font-size: 40%;
  }
}

body {
  position: relative;
}

.icon {
  &__return {
    position: absolute;
    top: 2rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    z-index: 5000;

    @media only screen and (max-width: $bp-480) {
      left: 1rem;
    }

    &--black {
      color: rgb(19, 19, 19);
    }

    &--white {
      color: #eee;
    }
  }
}

.hidden {
  display: none;
}
